In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore',category=FutureWarning)
warnings.filterwarnings('ignore')

In [2]:
# load data
data=pd.read_csv("winequality.csv",sep=';')

In [3]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [5]:
data.shape

(4898, 12)

In [6]:
data.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [7]:
data.groupby('quality').mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.600000,0.333250,0.336000,6.392500,0.054300,53.325000,170.600000,0.994884,3.187500,0.474500,10.345000
4,7.129448,0.381227,0.304233,4.628221,0.050098,23.358896,125.279141,0.994277,3.182883,0.476135,10.152454
5,6.933974,0.302011,0.337653,7.334969,0.051546,36.432052,150.904598,0.995263,3.168833,0.482203,9.808840
6,6.837671,0.260564,0.338025,6.441606,0.045217,35.650591,137.047316,0.993961,3.188599,0.491106,10.575372
7,6.734716,0.262767,0.325625,5.186477,0.038191,34.125568,125.114773,0.992452,3.213898,0.503102,11.367936
8,6.657143,0.277400,0.326514,5.671429,0.038314,36.720000,126.165714,0.992236,3.218686,0.486229,11.636000
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [8]:
cor_columns=abs(data.corr()['quality'])

In [9]:
cor_columns[cor_columns<0.1]

citric acid            0.009209
residual sugar         0.097577
free sulfur dioxide    0.008158
pH                     0.099427
sulphates              0.053678
Name: quality, dtype: float64

In [10]:
low_cor=cor_columns[cor_columns<0.1].index

In [11]:
data.drop(low_cor,axis=1,inplace=True)

In [12]:
data.head()

,fixed acidity,volatile acidity,chlorides,total sulfur dioxide,density,alcohol,quality
0,7.0,0.27,0.045,170.0,1.0010,8.8,6
1,6.3,0.30,0.049,132.0,0.9940,9.5,6
2,8.1,0.28,0.050,97.0,0.9951,10.1,6
3,7.2,0.23,0.058,186.0,0.9956,9.9,6
4,7.2,0.23,0.058,186.0,0.9956,9.9,6

In [13]:
X=data.drop(['quality'],axis=1)

In [14]:
X

,fixed acidity,volatile acidity,chlorides,total sulfur dioxide,density,alcohol
0,7.0,0.27,0.045,170.0,1.00100,8.8
1,6.3,0.30,0.049,132.0,0.99400,9.5
2,8.1,0.28,0.050,97.0,0.99510,10.1
3,7.2,0.23,0.058,186.0,0.99560,9.9
4,7.2,0.23,0.058,186.0,0.99560,9.9
...,...,...,...,...,...,...
4893,6.2,0.21,0.039,92.0,0.99114,11.2
4894,6.6,0.32,0.047,168.0,0.99490,9.6
4895,6.5,0.24,0.041,111.0,0.99254,9.4
4896,5.5,0.29,0.022,110.0,0.98869,12.8
4897,6.0,0.21,0.020,98.0,0.98941,11.8

In [15]:
y=data['quality']

In [16]:
y

0       6
1       6
2       6
3       6
4       6
       ..
4893    6
4894    5
4895    6
4896    7
4897    6
Name: quality, Length: 4898, dtype: int64

In [17]:
from sklearn.preprocessing import MinMaxScaler
MM=MinMaxScaler()
actual_df=pd.DataFrame(MM.fit_transform(X))
actual_df.columns=[X.columns]

In [18]:
actual_df

,fixed acidity,volatile acidity,chlorides,total sulfur dioxide,density,alcohol
0,0.307692,0.186275,0.106825,0.373550,0.267785,0.129032
1,0.240385,0.215686,0.118694,0.285383,0.132832,0.241935
2,0.413462,0.196078,0.121662,0.204176,0.154039,0.338710
3,0.326923,0.147059,0.145401,0.410673,0.163678,0.306452
4,0.326923,0.147059,0.145401,0.410673,0.163678,0.306452
...,...,...,...,...,...,...
4893,0.230769,0.127451,0.089021,0.192575,0.077694,0.516129
4894,0.269231,0.235294,0.112760,0.368910,0.150183,0.258065
4895,0.259615,0.156863,0.094955,0.236659,0.104685,0.225806
4896,0.163462,0.205882,0.038576,0.234339,0.030461,0.774194
4897,0.211538,0.127451,0.032641,0.206497,0.044342,0.612903

In [19]:
actual_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   (fixed acidity,)         4898 non-null   float64
 1   (volatile acidity,)      4898 non-null   float64
 2   (chlorides,)             4898 non-null   float64
 3   (total sulfur dioxide,)  4898 non-null   float64
 4   (density,)               4898 non-null   float64
 5   (alcohol,)               4898 non-null   float64
dtypes: float64(6)
memory usage: 229.7 KB

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [21]:
X_train

,fixed acidity,volatile acidity,chlorides,total sulfur dioxide,density,alcohol
736,6.6,0.25,0.052,183.0,0.99800,9.1
1620,7.8,0.26,0.027,87.0,0.99190,11.3
336,6.3,0.23,0.036,105.0,0.99100,11.2
2302,6.0,0.26,0.055,194.0,0.99591,9.0
2673,7.9,0.37,0.037,24.0,0.99110,11.9
...,...,...,...,...,...,...
4426,6.2,0.21,0.047,123.0,0.99418,9.9
466,7.0,0.14,0.039,141.0,0.99560,9.4
3092,7.6,0.27,0.043,152.0,0.99129,11.4
3772,6.3,0.24,0.035,134.0,0.99567,10.6
860,8.1,0.27,0.030,103.0,0.99255,10.4

In [22]:
X_test

,fixed acidity,volatile acidity,chlorides,total sulfur dioxide,density,alcohol
4656,6.0,0.29,0.048,149.0,0.99370,10.966667
3659,5.4,0.53,0.036,128.0,0.98856,13.200000
907,7.1,0.25,0.036,124.0,0.99080,12.200000
4352,7.3,0.28,0.054,148.0,0.99178,10.700000
3271,6.5,0.32,0.044,91.0,0.99184,12.000000
...,...,...,...,...,...,...
4235,6.4,0.29,0.040,116.0,0.99736,9.200000
4588,6.4,0.30,0.050,137.0,0.99304,11.100000
3377,7.0,0.40,0.050,189.0,0.99174,11.400000
1503,6.8,0.36,0.039,124.0,0.99090,12.600000
1971,6.3,0.41,0.030,164.0,0.99270,11.700000

In [23]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [24]:
lr.fit(X_train,y_train)

LogisticRegression()

In [25]:
# 
lr.predict(X_test)

In [26]:
lr.score(X_train,y_train)

0.4763710618436406

In [27]:
lr.score(X_test,y_test)

0.4816326530612245